/* page-wide CSS code starts here */

/* The "*" selector resets all CSS settings. */
 * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}
/* page-wide code ends here */


/* The following code styles the header and the hero image below it. */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* The h1 and .seo selectors below completes the company logotype established in the html file */
h1 {
    display: inline-block;
    font-size: 48px;
}
.seo {
    color: #d9dcd6;
    text-shadow: 1px 1px #FF0000;
    /* The editor assumes the 'SEO' color, #d9dcd6, is supplied per the HoriSEOn company branding policy. A concern: There is not enough contrast in the horiSEOn design to make the 'SEO' pop out of the rest of the company name. A possibl;e solution is to choose another 'SEO' color in the silver/gray family, such as 'Gray.' Another option, which is shown here, employs a text shadow to help the eye discriminate the 'SEO' letters. */ 
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    /* Hero image below was resized to 25% of original photo size at www.PicResize.com. It loads much faster now. */
    background-image: url("../images/faster-hero-image.jpg");
    background-size: cover;
    background-position: center;
}
/* This ends the header and hero image styling */



/* Here begins styling for the 'article' content on the left side of the main section */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* This ends styling for the article content on the left side of the main section */



/* This begins styling for the 'aside' sidebar on the right side of the main section */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-item-margin-color{
    margin-bottom: 32px;
    color: #ffffff;
}

.aside-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;        
}

.benefit-headline {
    margin-bottom: 10px;
    text-align: center;
}

/* End of styling for the 'aside' content in the main section */



/* This final portion styles page footer */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
    padding-bottom: 25px;
}
/* End of CSS styling */